/* TABLE OF CONTENTS

    1. Basic Document Styles
    2. Typography
    3. Button
    4.Pomodoro
    5. Footer
    6. Media Queries
*/
/* 1. Basic Document Styles
-------------------------------------------------*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 100%;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 20px;
    line-height: 1.25rem;
    text-align: center;
}
h1 {
    font-size: 112px;
    font-size: 7rem;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 56px;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
}
h3 {
    font-size: 45px;
    font-size: 2.8rem;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 48px;
    line-height: 3rem;
}
h4 {
    font-size: 34px;
    font-size: 2.1rem;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 40px;
    line-height: 2.5rem;
}
h5 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    line-height: 32px;
    line-height: 2rem;
}
h6 {
    font-size: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}
caption {
    font-size: 12px;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.54);
}
button {
    font-weight: 500;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 14px;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
}
nav {
    background-color: #009688;
    color: #000;
    text-transform: uppercase;
}
i {
    color: #fff;
    padding: 0 5px;
}
img {
    display: block;
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 1000px;
}
a {
    color: #FF6E40;
}
/* 2. Typography 
-------------------------------------------------*/

.primary-color {
    color: #009688;
}
.primary-color100 {
    color: #B2DFDB;
}
.primary-color700 {
    color: #00796B;
}
.accent-color {
    color: #FF6E40;
}
.accent-100 {
    color: #FF9E80;
}
.accent-400 {
    color: #FF3D00;
}
.base-black {
    color: #000;
}
.text-primary-black {
    color: #000;
    opacity: .87;
}
.secondary-text-black {
    color: #000;
    opacity: .54;
}
.disabled-text-black {
    color: #000;
    opacity: .38;
}
.dividers-black {
    color: #000;
    opacity: .12;
}
.base-white {
    color: #FFF;
}
.text-primary-white {
    color: #FFF;
}
.secondary-text-white {
    color: #FFF;
    opacity: .70;
}
.disabled-text-white {
    color: #FFF;
    opacity: .30;
}
.dividers-white {
    color: #000;
    opacity: .12;
}
/* 3. Button
-------------------------------------------------*/

.btn {
    background-color: #FF6E40;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 0 none;
    border-radius: none;
    letter-spacing: 1px;
    border-radius: 0;
    /* width: 30%; */
    
    min-width: 64px;
    min-height: 36px;
    padding: 0 8px;
    margin: 8px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
}
.btn-primary {
    background: #FF6E40;
    color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #FF3D00;
}
.btn-primary:active,
.btn-primary.active {
    background: #FF6E40;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background: #FF6E40;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
/* Pomodoro 
---------------------------------------*/

.title {} .time-session-minus,
.time-session-plus,
.time-break-plus,
.time-break-minus,
.time-session-numeral,
.time-break-numeral {
    font-size: 34px;
    font-size: 2.1rem;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 40px;
    line-height: 2.5rem;
}
.time-session-minus,
.time-session-plus,
.time-break-plus,
.time-break-minus {
    border-radius: 50%;
    padding: 0;
    margin: 0 8px;
    min-width: 64px;
    min-height: 64px;
}
.time-text {} .cutom_canvas {
    /* margin-left: 100px; */
}
canvas {
    margin: 0 auto;
}
.button_words {} .button_icons_only {
    display: none;
}
*,
*:before,
*:after {
    -webkit-user-select: none;
    /* Chrome/Safari */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* IE10+ */
}
/* 5. Footer
---------------------------------------*/

footer {
    background-color: #fafafa;
    position: absolute;
    /*  bottom: 0; */
    
    width: 100%;
}
footer .container {
    padding: 16px;
}
footer ul {
    padding-left: 0;
}
footer ul li {
    list-style: none;
    float: left;
    display: block;
    margin-right: 10px;
}
footer ul li a:active,
footer ul li a:hover {
    color: #FF3D00;
}
.footer-top-section {
    height: 25px;
}
.footer-bottom-section {
    margin-top: 10px;
    margin-top: 0.714rem;
}
/* 6. Media Queries
------------------------------ */

@media (min-width: 500px) {
    footer {
        bottom: 0;
    }
}
@media (max-width: 330px) {
    .button_icons_only {
        display: block;
    }
    .button_words {
        display: none;
    }
}
@media (min-width: 410px) and (max-width: 768px) {
    .time-length-container {
        width: 50%;
    }
    .time-length-container button {
        margin: 0;
    }
}